<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="generator" content="goffre"/>
        <meta name="version" content="{{rev}}">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes"/>
        <title>{{title}}</title>
        {{> meta}}

        <link rel="stylesheet" href="{{ getAsset "bundle.css" }}"></link>
    </head>
    <body class="page-{{slug}}">
        {{> nav}}

        <main>
        {{{body}}}
        </main>

        {{> footer}}
        <script src="{{ getAsset "bundle.js" }}"></script>
    </body>
</html>