<footer>
    <p>
        &copy; 2021 <a href="{{pkg.author.url}}">{{pkg.author.name}}</a>
        {{#if rev}} | rev: <a href="{{pkg.repository}}/commit/{{rev}}" target="_blank" rel="noopener noreferrer"><code>{{rev}}</code></a>{{/if}}
    </p>
</footer>