<footer>
    <p>
        &copy; 2021 <a href="{{config.author.link}}">{{config.author.name}}</a>
        {{#if rev}} | rev: <a href="{{config.repo}}/commit/{{rev}}" target="_blank" rel="noopener noreferrer"><code>{{rev}}</code></a>{{/if}}
    </p>
</footer>