<nav>
    <ul>
    {{#each config.nav}}
        <li>
            {{#if external}}
            <a href="{{ link }}" target="_blank" rel="noopener noreferrer">{{title}}</a>            
            {{else}}
            <a href="{{ link }}" class="{{getNavClass . ..}}">{{title}}</a>            
            {{/if}}
        </li>
    {{/each}}
    </ul>
    <button></button>
</nav>