<article class="article-card">
    <h2 class="ellipsis"><a href="{{getLink .}}">{{title}}</a></h2>
    {{#cover}}
    <figure class="figure-wide">
        <a href="{{getLink ..}}">
            <img class="lazy loadable zoomable" data-src="{{url}}" alt="{{caption}}"/>
        </a>
    </figure>
    {{/cover}}
    <time>{{formatDate created_at}}</time>
    <p class="excerpt">{{excerpt}}</p>
</article>