<section class="page">
    <h1>{{labels.projects.title}}</h1>
    <p>{{ labels.projects.subtitle }}</p>
    {{{pageContent}}}
    <ul>
        {{#projects}}
            <li>
                <a href="{{getLink .}}">{{title}}</a>
            </li>
        {{/projects}}
    </ul>
</section>